.hab-container {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    margin-top: 5%;
  }
  
  .hab-titles {
    text-align: center;
    color: var(--lcolor-5);
  }
  
  .hab {
    display: flex;
    flex-direction: column;
    border: inset 2px var(--color-4);
    border-radius: 15px;
    height: fit-content;
    padding: 1vh;
  }
  
  .hab-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  
  .hab-logo-cont {
    display: grid;
    height: 12vw;
    width: 12vw;
    align-items: center;
    justify-items: center;
    background-color: var(--color-3);
    border-radius: 100%;
    box-shadow: .5vw .5vw 1vw 1vw var(--color-1);
  }
  
  .hab-logo {
    height: 70%;
    width: 70%;
  }
  
  .lang-cont {
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
  }
  
  .lang-cont span:last-child {
    width: 55%;
  }

  .barraIdioma {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-self: center;
    width: 80%;
    height: 35%;
    border-radius: 50px;
    border: 1px var(--lcolor-2) solid;
  }
  
  .barraIdioma div:nth-child(1) {
    background-color: var(--color-6);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 4px solid var(--color-2);
    
  }
  
  .barraIdioma div:nth-child(2) {
    background-color: var(--color-6);
    border: 4px solid var(--color-2);
    width: 100%;
    height: 100%;
    border-left: 0;
  }
  
  .barraIdioma div:nth-child(3) {
    background-color: var(--color-6);
    border: 4px solid var(--color-2);
    border-left: 0;
  }

  .barraEspañol {
    background-color: var(--color-6);
    border: 4px solid var(--color-2);
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  @media screen and (max-width:767px) {

    .hab-container1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 0vw;
      row-gap: 7vw;
      margin-top: 2%;
      margin-bottom: 4%;
    }

    .hab-container {
      margin-top: 15%;
    }
    
    .hab-logo-cont {
      height: 28vw;
      width: 28vw;
    }

    .lang-cont {
      height: 6vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around;
    }

    .lang-cont span:last-child {
      width: 90%;
    }
    
  }

  @media screen and (max-height:500px) {
    
    .hab-container {
      display: flex;
      flex-direction: row;
      gap: 7vh;
      margin-top: 5%;
    }

    .hab {
      display: flex;
      flex-direction: column;
      height: 65vh;
      width: 45vw;
      padding: 3vw;
    }

    .hab-titles {
      margin-top: 0;
    }

    .hab-container1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      margin-top: 2%;
      margin-bottom: 4%;
      column-gap: 6vw ;
      row-gap: 5vh;
    }

    .hab-logo-cont {
      height: 8vw;
      width: 8vw;
    }

    .lang-cont {
      height: 15vh;
      flex-wrap: wrap;
    }

    .barraIdioma {
      height: 25%;
    }

    .lang-cont span:last-child {
      width: 95%;
    }

  }