.projectsCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    align-items: center;
}

.imgCont {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImg {
    height: 25vh;
    filter:grayscale();
    transform: rotate3d(-0.1, 1, -0.1, 60deg) ;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.projectImg:hover {
    filter: none;
    transform: none;
    z-index: 2;
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
}

/* PROJECT DETAILS */

.mainContDet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showtrue {
    display: flex;
}

.showfalse {
    display: none;
}

.hiddenCont {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2 ;
    height: 100vh;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
}

.backGround {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 90%;
    position: absolute;
    z-index: 2;
}

.articleDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 70vw;
}

.hiddenImgsCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hiddenImg {
    height: 40vh;
    z-index: 3;
    border-radius: 5%;
}

.imgBtn {
    border: none;
    transform: scale(1.5);
    background-color: var(--color-1);
    border-radius: 50%;
    height: 3vh;
    width: 3vh;
    margin: 2vh;
    cursor: pointer;
    transition: all 0.2s ease;
}

.imgBtn:hover {
    background-color:initial ;
    transform: scale(2);
    color: var(--color-8);
    transition: all 0.2s ease;
}

.articleBody {
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: fit-content;
    width: 50%;
    align-content: flex-start;
}

.projectName {
    text-align: center;
}


.langContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.compatibilityCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.linksCont {
    display: flex;
    gap: 10vw ;
    height: 7vh;
    align-items: center;
}

.links {
    transform: scale(2);
    transition: all 0.2s ease-in-out;
}

.links:hover {
    transform: scale(2.5);
    color: var(--color-8);
    transition: all 0.2s ease-in-out;
}

.hideBtn {
    z-index: 3;
    cursor: pointer;
    background-color: var(--color-8);
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: all 0.2s ease;
}

.hideBtn:hover {
    background-color: initial;
    color: var(--color-8);
    transform: scale(2);
    border: none;
    transition: all 0.2s ease;
}