:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  background-color: var(--color-2);
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
    
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 0 0 0;
}

/* Variables Colores de fondo */
:root {
  --color-1: #0d0d0d;
  --color-2: #191919;
  --color-3: #262626;
  --color-4: #333333;
  --color-5: #6a1518;
  --color-6: #80191c;
  --color-7: #951d20;
  --color-8: #ab2124;
  --color-9: #c12428;
  --color-10: #d7282c;
}

/* Variables Colores de letras */

:root {
  --lcolor-1: #f2f2f2;
  --lcolor-2: #e6e6e6;
  --lcolor-3: #d9d9d9;
  --lcolor-4: #cccccc;
  --lcolor-8: #ea9595;
  --lcolor-7: #e67f7f;
  --lcolor-6: #e26a6a;
  --lcolor-5: #de5454;
  --lcolor-9: #262626;
  --lcolor-10: #6a1518;
}

/* Colores de letras */

.cl1 {
  color: var(--lcolor-1);
}

.cl2 {
  color: var(--lcolor-2);
}

.cl3 {
  color: var(--lcolor-3);
}

.cl4 {
  color: var(--lcolor-4);
}

.cl5 {
  color: var(--lcolor-5);
}

.cl6 {
  color: var(--lcolor-6);
}

.cl7 {
  color: var(--lcolor-7);
}

.cl8 {
  color: var(--lcolor-8);
}

.cl9 {
  color: var(--lcolor-9);
}

.cl10 {
  color: var(--lcolor-10);
}

/* Colores de fondo */

.cb1 {
  background-color: var(--color-1);
}

.cb2 {
  background-color: var(--color-2);
}

.cb3 {
  background-color: var(--color-3);
}

.cb4 {
  background-color: var(--color-4);
}

.cb5 {
  background-color: var(--color-5);
}

.cb6 {
  background-color: var(--color-6);
}

.cb7 {
  background-color: var(--color-7);
}

.cb8 {
  background-color: var(--color-8);
}

.cb9 {
  background-color: var(--color-9);
}

.cb10 {
  background-color: var(--color-10);
}

/* FUENTES */

.grande {
  font-size: 1.75rem;
}

.muygrande {
  font-size: 2.5rem;
}

.peque {
  font-size: 0.75rem;
}

.normal {
  font-size: 1rem;
}


/* Letras gruesas */

.bld {
  font-weight: 700;
}

/* -------------------------------------- ESTILOS ------------------------------------------------------- */

/* TIPOS */

section {
  height: 100vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

section:not(#presentacion) {
  padding-left: 5vw;
  padding-right: 5vw;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: relative;
  height: 6vh;
  width: 100vw;
}

h1 {
  margin-bottom: 5px;
  margin-top: 20px;
}

h2 {
  color: var(--lcolor-5);
  font-size: 1.5rem;
  margin: 0;
}

p {
margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* CLASES */

.idiomas {
  position: absolute;
  top: 1vh;
  left: 1vh;
  z-index: 2;
}

.idiomas button {
  background-color: transparent;
  border: none;
  color: var(--lcolor-8);
}

.idiomas button:hover {
  cursor: pointer;
}

.titles {
  padding-top: 6vh;
}

.navegador1 {
  display: flex;
  flex-direction:row;
  height: 6vh;
  width: 100%;
  background-color: var(--color-2);
  opacity: 90%;
  align-items: center;
  position: fixed;
  right: 0;
  justify-content:right ;
  z-index: 1;
}

.navegador1 .nav-btn-cont {
  width: 12vw;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navegador1 .nav-btn {
  width: 12vw;
  height: 100%;
  text-align: center;
  line-height: 6vh;
  color: var(--lcolor-1);
  transition: all 0.2s ease-in-out;
  
}

.navegador1 a {
  font-weight: 700;
}

.navegador1 .nav-btn:hover {
  color: var(--lcolor-5);
  cursor: pointer;
  background-color: var(--color-1);
  height: 80%;
  width: 80%;
  line-height: calc(6vh * 0.8);
  border-radius: 20px;
  transition: line-height 0.2s ease-in-out;
}

.pres-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-1);
  align-items: center;
  justify-content: center;
  box-shadow:0vw .5vw 1vw var(--color-5);
  border-radius: 30px;
}

.pres-box div:not(.foto) {
  position: absolute;
}

.pres-box div:nth-child(1) {
  top: 5%;
  left: 15%;
}

.pres-box div:nth-child(3) {
  bottom: 10%;
  right: 10%;
}

.foto {
  height: 45vh;
  width: 45vh;
  background-image: url(https://www.nacionrock.com/wp-content/uploads/phil-anselmo-y-the-illegals-en-lima-e1615984091692.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: relative;
  left:0;
  top: 0vw;
  transition: all 0.3s ease-in-out;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card1 {
  height: 50vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  border-radius: 25px;
  position: relative;
}

.card1 img {
  height: 25vh;
  width: 25vh;
  position: absolute;
  top: 5%;
}

.card1-body {
  background-color: var(--color-5);
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.card1-body-text {
  text-align: center;
  color: var(--lcolor-8);
}

/* IDENTIFICADORES */

#presentacion {
  height: 60vh;
}

#acercaDeMi {
  height: 34vh;

}

#acercaDeMi p {
  text-align: justify;
  margin-top: 4%;
}

@media screen and (max-width: 767px) {

  .grande {
    font-size: 1.5rem;
  }

  .muygrande {
    font-size: 2rem;
  }
  
  #navegador1 {
    display: none;
  }

  #acercaDeMi {
    height: 35vh;
  }

  #acercaDeMi p {
    text-align: justify;
    margin-top: 4%;
    font-size: 0.7rem;
  }

  section:not(#presentacion) {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  header {
    height: 5vh;
  }

  .navegador2 {
    height: 5vh;
    display: flex;
    align-items: center;
  }

  .foto {
    height: 35vh;
    width: 35vh;
    left:0;
    top: 5%;
    transition: all 0.3s ease-in-out;
  }

  .pres-box {
    box-shadow:0vw 1vw 2vw var(--color-5);
  }

  .pres-box div:nth-child(1) {
    top: 2%;
    left: 15%;
  }
  
  .pres-box div:nth-child(3) {
    bottom: 7%;
    right: 10%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .card1 {
    height: 35vh;
    width: 70vw;
  }
  
  .card1 img {
    height: 15vh;
    width: 15vh;
    position: absolute;
    top: 10%;
  }
  
  .card1-body {
    background-color: var(--color-5);
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  
  .card1-body-text {
    text-align: center;
    color: var(--lcolor-8);
  }

}